<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
